<!DOCTYPE html>
<html ng-app="myApp" ng-controller="MyController" class="my-controller">

<head>
<!-- meta og -->	
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta property="og:url" content="https://pizzaprezzi.github.io/" />
<meta property="og:type" content="website" />
<meta property="og:title" content="PizzaPrezzi" />
<meta property="og:description" content="Tutti i menu dei tuoi locali preferiti" />
<!--
<meta property="og:image" content="https://raw.githubusercontent.com/infocitta/infocitta.github.io/master/logo.png" />
-->
<meta name="keywords" content="menu, pizzeria, pizzaprezzi" />
<meta name="description" content="Tutti i menu dei tuoi locali preferiti" />
<meta property="fb:app_id" content="591996370950973" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<!--
<link rel="shortcut icon" href="../../logo_notext.png" type="image/png" />
<link rel="icon" href="../../logo_notext.png" type="image/png" />
-->
<!-- riferimenti remoti -->
<!-- jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<!-- cookie -->
<script type="text/javascript" src="//cdn.jsdelivr.net/cookie-bar/1/cookiebar-latest.min.js"></script>
<!-- angular -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<link rel="stylesheet" href="../style.css" />
<script src="app.js"></script>
<script src="../dirPagination.js"></script>
<title>{{ entity.Name }} - PizzaPrezzi</title>  
</head>

<body>
    <div id="fb-root"></div>
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/it_IT/sdk.js#xfbml=1&version=v2.5&appId=591996370950973";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="container">

<!-- menu -->
<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="..">PizzaPrezzi</a>
		</div>
	<ul class="nav navbar-nav">
		<li><a href="..">Home</a></li>
		<li class="active"><a href="#">{{ entity.Name }}</a></li>
	</ul>
	<ul class="nav navbar-nav navbar-right">
		<form style="padding-top: 13px;" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="C3JEBSSYR4GBQ">
			<input type="image" src="https://www.paypalobjects.com/it_IT/IT/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal è il metodo rapido e sicuro per pagare e farsi pagare online.">
			<img alt="" border="0" src="https://www.paypalobjects.com/it_IT/i/scr/pixel.gif" width="1" height="1">
			</form>                       
	</ul>
	</div>
</nav>
<!-- fine menu -->
<div class="page-header" style="margin-top: 5px;margin-bottom: 5px;">
	
	
	<h3>{{ entity.Name }}</h3>
	<p>{{ entity.Address }}</p>
	<a ng-repeat="c in entity.Contact" class="btn btn-info" role="button" href="tel:{{ c.Value }}">Chiama</a>
	<a class="btn btn-info" role="button" href="{{ entity.Website }}">Sito WEB</a>
	<a class="btn btn-info" role="button" href="https://maps.google.it/maps?q={{entity.Latitude}},{{entity.Longitude}}"><i class="fa fa-map-o" aria-hidden="true"></i> Mappa</a>
</div>
</div>
<div class="container">
<ul class="nav nav-tabs">
	<li ng-repeat="c in entity.Categories" ng-class="{'active':c.Alias === entity.Categories[0].Alias}"><a data-toggle="tab" href="#{{ c.Alias }}">{{ c.Name }}</a></li>
	<li><a data-toggle="tab" href="#home">test</a></li>
</ul>

<div class="tab-content">
	<div id="{{ c.Alias }}" class="tab-pane fade"  ng-repeat="c in entity.Categories" ng-class="{'in active':c.Alias === entity.Categories[0].Alias}">
		<h3>{{ c.Name }}</h3>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<td>Nome</td>
					<td>Ingredienti</td>
					<td>colonna3</td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="p in c.Entities">
					<td>{{ p.Name }}</td>
					<td><small ng-repeat="i in p.Items">{{ i.Value }},</small></td>
					<td></td>
				</tr>
			</tbody>    
		</table>
	</div>
</div>
</div>

<div ng-include="'../clausola.html'"></div>
<div ng-include="'../firma.html'"></div>  
  
</body>

</html>
